body * {
    font-family: Fira sans-serif -webkit-body;
    text-align: justify;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radio-box,
.checkbox-box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
